#game .score-container {text-align:center;border-bottom:thin dotted #333; margin-bottom:5px;}
#game .score {font-size:60px;font-weight:bold;}

.large-button .ui-btn-text {font-size:30pt;font-weight:bolder;}
a.hidden, a.hidden.ui-btn {display:none;}

#game-not-valid {display:none;
				position:absolute;
				background:#CCC;
				top:15%;
				left:27.5%;
				border:solid medium #333;
				width:40%;
				font-size:20px;
				text-align:center;
				padding:2.5%;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				border-radius: 10px;					
				z-index:3;
}

.nakedlap-warning {font-style:italic;font-weight:normal;display:none;}
.#player-warning {color:#C55;}
#opponent-warning {color:#5C5;}