/*overall */

.spacing {padding:2px;margin:2px;}
#container {padding-top:60px;}
.container-fluid > .sidebar {top:60px;}
a:hover {text-decoration:none;}

/* topbar */
.topbar .active-links {float:right}

#wall { background:#EEEEEE; width:800px; min-height:800px; padding:10px; border:solid thin #DDD;}

.update {margin-left:40px; padding-left:40px; margin-top:20px; padding-top:10px;background:#DDDDDD;}
.row .update-text {font-size:14px;position:relative;left:20px;margin-left:0px;}
.row .update-text small {font-size:14px;font-variant:small-caps;}}
a.update_text_link {color:#339;}
a.update_text_link:hover {color:#333;}
.update-time {position:relative;top:10px;left:40px;}

ul.row {list-style:none;}
ul.row > li {display:inline;}

/* update box */
#update-nav {margin-left:10px}
.update-img {margin-left:0px; height:50px;width:50px;float:left;display:inline;}

/* profile */
.profile.row {margin-left:0px;}
.profile.row > [class*="span"] {margin:0px;padding:0px;} 
.profile .profile-image {width:100%;}
.profile .profile-name {font-size:14pt; line-height:20px;}
.profile .profile-actions {list-style:none;margin-left:0px;margin-top:5px;}
.profile.row .profile-data {padding:10px;}

.votebox {float:left;position:relative;right:5px;top:10px;}
.votebox .votebox-score {font-size:14pt;position:relative;left:7px;}


/* apps */
.apps {margin-top:40px;}
.apps .app {height:200px;font-size:15px;padding:10px;border:dashed thin #333;margin-bottom:20px;}
.apps .app hr {border:solid thin #333;margin-top:12px;margin-bottom:9px;}
.apps .app .app-title {font-size:30px;}

/*stats page */
.standing {position:relative;top:40px;font-size:40px;}
/*.standing {padding:5px; width:100%; background-color:#999;color:#CCC;margin:5px;}*/
.teambox {margin-top:20px;margin-bottom:20px;}
.teambox .update-text {font-size:18px;}


.teambio {font-size:20px;line-height:25px;}
ul.recent-activity {list-style:none;margin-top:10px;}
ul.recent-activity .activity {background:#AAA; padding:10px; margin:10px; color:#333}
ul.recent-activity .activity:hover {background:#666;color:#111;}


#leaderboard .leaderboard-entry {border-bottom:solid thin #CCC;}

.players {margin-left:10px;}
.teamplayer-box {border:solid thin #CFF;
		    margin:10px;
			padding:10px;
			background:#EEF;}

.teamplayer-box .info {padding:5px}
.teamplayer-box .info .name { font-size:25px;}
.teamplayer-box .info .name small { font-size:14px;font-variant:small-caps}
.teamplayer-box .info .bio {color:#AAA;font-style:italic;font-size:16px;margin-top:10px}		   
.teamplayer-box .info ul.other-teams {list-style:none;margin-left:0;margin-top:10px;margin-bottom:0px}
.teamplayer-box .info ul.other-teams li {display:inline;line-height:30px;}
.teamplayer-box .info ul.other-teams li a {background-color:#DDD;display:inline;padding:5px;white-space:nowrap;}


.playerbox .name {font-size:18px;margin-left:10px;}
.playerbox .name small {font-size:12px; font-variant:small-caps}
.playerbox ul.teams {list-style:none;position:relative;top:7px;margin:0px;padding:0px;left:10px;}
.playerbox ul.teams li {display:inline; background-color:#EEE;padding:5px;}
.playerbox {margin-left:40px; padding-left:40px; margin-top:20px; padding-top:10px;background:#DDD;}		   
.team-header-info {min-height:180px;}
.player-entry {border-bottom: solid thin #CCC;padding-bottom:10px;}

.teamstats-box table td small {font-size:11px;color:#CCC;font-style:italic;}