{% extends "stats_base.html" %}

{% block extrahead %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-tabs.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
	<div class="span14 main-content">
	  <ul class="tabs" data-tabs="tabs">
		<li class="active"><a href="#wall">Wall</a></li>
		<li><a href="#leaderboard">Leaderboard</a></li>
		<li><a href="#topplayers">Top Players</a></li>
	  </ul>
	  <div class="pill-content">
		<div class="active" id="wall">
		  {% for update in updates %}
		  {% include "updatebox.html" %}
		  {% endfor %}
		</div>
		<div id="leaderboard">
		  {% for team in teams %}
		  <div class="leaderboard-entry row">
			<div class="standing span1">
			  {{ forloop.counter }}
			</div>
		  {% include "teambox.html" %}
		  </div>
		  {% endfor %}			
		</div>
		<div id="topplayers">
		  {% for player in players %}
		  <div class="player-entry row">
			<div class="standing span1">
				 {{forloop.counter}}
			</div>
			{% include "playerbox.html" %}
		  </div>
		  {% endfor %}
		</div>
	  </div>	  
	</div>
  </div>
</div>
{% endblock %}
