<div data-role="page" id="game">

  <script type="text/javascript">
	{% include "js/game.js" %}
  </script>

  <div data-role="header">
	<a id="end-game-button" data-icon="delete">Quit</a>
<!-- 	<a href="/" data-role="button" data-ajax=false rel="external" data-icon="delete" data-iconpos="notext">Delete</a> -->
	<h1><span class="players_team"></span> vs. <span class="opponents_team"></span></h1>
	<a class="ui-btn-right" id="refresh-score-button" data-icon="refresh" data_theme="d">Refresh</a>	
  </div>
  <div data-role="content">
	<span id="current_game" gid="" class="hidden"></span>
	<a id="change-page-game" class="hidden" href="#game"></a>
	
	<div id="game-not-valid">
	  <p>Waiting for other team to join...</p>
	</div>
	<div class="ui-grid-a score-container">
	  <div class="ui-block-a"><h3>Your Score</h3></div>
	  <div class="ui-block-b"><span class="score players_score"></span></div>
	</div>
	<div class="ui-grid-a score-container">
	  <div class="ui-block-a"><h3><span class="opponents_team"></span> Score</h3></div>
	  <div class="ui-block-b"><span class="score opponents_score"></span></div>
	</div>

	<div class="ui-grid-a">
	  <div class="ui-block-a large-button">
		<button id="decrement-score-button" type="submit" data-theme="d">-</button>
	  </div>
	  <div class="ui-block-b large-button">
		<button id="score-button" type="submit" data-theme="b">+</button>
	  </div>
	</div>
  </div>
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>


