<div data-role="page" id="game">

  <script type="text/javascript">
	{% include "js/game.js" %}
  </script>

  <div data-role="header">
	<a href="/" data-role="button" data-ajax=false rel="external" data-icon="delete" data-iconpos="notext">Delete</a>
	<h1><span class="players_team"></span> vs. <span class="opponents_team"></span></h1>
	<span id="current_game" gid="" style="display:none"></span>
  </div>
  <div data-role="content">
	<div class="ui-grid-a score-container">
	  <div class="ui-block-a"><h3>Your Score</h3></div>
	  <div class="ui-block-b"><span class="score" id="players_score">{{players_score}}</span></div>
	</div>
	<div class="ui-grid-a score-container">
	  <div class="ui-block-a"><h3><span class="opponents_team"></span> Score</h3></div>
	  <div class="ui-block-b"><span class="score" id="opponents_score">{{opponents_score}}</span></div>
	</div>

	<div class="ui-grid-a">
	  <div class="ui-block-a large-button">
		<button id="decrement-score-button" gid="{{gid}}" type="submit" data-theme="d">-</button>
	  </div>
	  <div class="ui-block-b large-button">
		<button id="score-button" gid="{{gid}}" type="submit" data-theme="b">+</button>
	  </div>
	</div>
	<button id="refresh-score-button" gid="{{gid}}" type="submit" data_theme="d">Refresh Scores</button>
  </div>
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>


<div data-role="page" id="win">
  <div data-role="header">
	<h1><span id="winner"></span> wins!</h1>
  </div>
  <div data-role="content">
	<h1>You won!</h1>
	<p> <a data-role="button" href="/">Go back home</a></p>
  </div>
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>

<div data-role="page" id="lose">
  <div data-role="header">
	<h1><span id="winner"></span> wins!</h1>
  </div>
  <div data-role="content">
	<h1>You lost!</h1>
	<p> <a data-role="button" href="/">Go back home</a></p>
  </div>
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>
