<div data-role="page" id="login">	  
  <script type="text/javascript">
	{% include "js/index_login.js" %}
  </script>

  <div data-role="header">
	<h1>Login</h1>
  </div>	  
  <div data-role="content"> 
	<form id="login-form" action="" data-ajax=false method="POST">
	  {% csrf_token %}
	  {% for field in login_form %}
	  <div class="fieldcontain">
		{{field.label_tag}}
		{{field}}
	  </div>
	  {% endfor %}
	  <button id="login-form-submit">Login</button>
	</form>
  </div>	  
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>
