<div data-role="page" id="new_game">
  <script type="text/javascript">
	{% include "js/index_new_game.js" %}
  </script>
  <div data-role="header">
	<h1>New Game</h1>
  </div>
  <div data-role="content">
	<form id="new-game-form" action="/new_game/" data-ajax=false method="POST">
	  {% csrf_token %}
	  <div data-role="fieldcontain">
		<label for="team">Choose your team:</label>
		<select name="tid" id="tid">
		  {% for team in player_teams %}
		  <option value="{{team.id}}">{{team.name}}</option>
		  {% endfor %}
		</select>
	  </div>
	  <div data-role="fieldcontain">
		<label for="against">Choose your opponent:</label>
		<select name="against" id="against">
		  {% for team in opponent_teams %}
		  <option value="{{team.id}}">{{team.name}}</option>
		  {% endfor %}
		</select>
	  </div>
      <button id="new-game-form-submit" data-role="button">TIME TO FOOS</button>
	</form>
  </div>
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>
