<div data-role="page" id="home">	  

  <script type="text/javascript">
	{% include "js/index_home.js" %}
  </script>


  <div data-role="header">
	<h1>MOFOOS</h1>
	{% if current_games %}
	  {% for game in current_games %}
	  <a data-role="button" href="#current_games" class="ui-btn-right">Current Games</a>
	  {% endfor %}
	{% endif %}
  </div>	  
  <div data-role="content"> 
	<a id="change-page-home" class="hidden" href="#home"></a>
	<h3>The Official MoPub Foos tracking App<h3>
		<a href="#about" data-role="button">about MOFOOS</a>
	  {% if not user.is_authenticated %}
	  <a href="#login" data-role="button">login</a>
	  <a href="#register" data-role="button">register</a>
	  {% else %}
	  <a href="#make_team" data-role="button">make a new team</a>
	  <a href="#new_game" data-role="button">new game</a>
	  <a  id="logout-button" data-role="button">logout</a>
	  {% endif %}
  </div>	  
  <div data-role="footer">
	{% include "default_footer.html" %}
  </div>
</div>
